.appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-400) var(--sp-700);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--clr-neutral-200);
  background: var(--clr-neutral-100);
  z-index: 1000;

  &__logo {
    text-transform: uppercase;
    font-size: var(--fs-400);
  }
}

.app {
  padding-bottom: calc(var(--sp-700) * 3);
}

.loadingScreen {
  position: fixed;
  inset: 0;
  z-index: 10000;
  display: grid;
  place-items: center;
  background: var(--clr-neutral-100);
}

.cartLink {
  --radius: 40px;
  position: relative;
  text-decoration: none;
  color: var(--clr-neutral-100);
  padding: var(--sp-200);
  border-radius: 30%;
  height: var(--radius);
  width: var(--radius);

  &__icon {
    width: 20px;
    aspect-ratio: 1 / 1;
    color: var(--clr-primary-400);
  }

  &__count {
    height: 16px;
    padding: 0;
    font-size: var(--fs-100);
    aspect-ratio: 1 / 1;
    background: var(--clr-primary-400);
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
    top: var(--sp-100);
    right: var(--sp-100);
    font-weight: bold;
  }
}
