.counter {
  display: flex;
  gap: var(--sp-200);

  &__addBtn,
  &__subBtn,
  input[type='number'] {
    color: black;
    background: white;
    border: 0;
  }

  button {
    cursor: pointer;
  }

  button:hover {
    color: var(--clr-primary-400);
  }

  input[type='number'] {
    appearance: none;
    border: 0;
    padding: var(--sp-200);
    flex: 0 1 auto;
    max-width: 70%;
    border: 1px solid var(--clr-primary-400);
    border-radius: 2px;
  }
}
