.indexPage {
  --pd-inline: var(--sp-700);

  &__products {
    padding-inline: var(--pd-inline);
    display: grid;
    grid-template: 1fr / repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--sp-500);
    list-style: none;
  }
}
