.product {
  height: 100%;
  position: relative;

  &__imgContainer {
    height: 300px;
    background: var(--clr-neutral-100);
    padding: 20px;
    display: grid;
    place-items: center;
    padding: var(--sp-200);
  }

  [aria-label='product page'] {
    text-decoration: none;
    color: inherit;

    &::before {
      content: 'Get This';
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      color: var(--clr-neutral-100);
      font-family: var(--ff-accent);
      background: linear-gradient(
        rgba(19, 25, 48, 0.95) 40%,
        var(--clr-primary-400)
      );
      opacity: 0;
      transition:
        font-size 120ms ease,
        opacity 80ms ease;
      z-index: 100;
      cursor: pointer;
      font-size: var(--fs-400);
    }

    &:hover::before {
      font-size: var(--fs-600);
      opacity: 1;
    }
  }

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  [title='name'] {
    font-size: var(--fs-base);
    font-weight: bold;
  }

  [title='category'],
  [title='rating'] {
    text-transform: uppercase;
    font-size: var(--fs-200);
    font-weight: 300;
  }

  [title='price'] {
    display: inline-block;
    font-weight: bold;
    margin-right: auto;
  }

  &__priceContainer {
    color: var(--clr-primary-400);
    display: flex;
    justify-content: space-between;
    align-items: center;

    :first-child {
      opacity: 0.7;
    }

    :last-child {
      font-weight: 400;
    }
  }

  &__ratingCategoryContainer {
    display: flex;
    justify-content: space-between;
    padding-block: var(--sp-100) var(--sp-300);
  }

  &__cartBtn {
    margin-top: var(--sp-200);
    padding: var(--sp-200);
    border-radius: 5px;
    border: 0;
    background-image: linear-gradient(
      90deg,
      var(--clr-primary-300),
      var(--clr-primary-400)
    );
    font-size: var(--fs-200);
    cursor: pointer;
    color: var(--clr-neutral-100);
  }
}
