.secondaryHero {
  padding-block: var(--sp-700);

  &__heading {
    padding-inline: var(--sp-700);
    opacity: 0.3;
    color: var(--clr-primary-400);
    text-align: center;
    text-transform: capitalize;
    font-family: var(--ff-accent);
    font-weight: normal;
    font-size: var(--fs-700);
  }
}
