.hidden {
  opacity: 0;
  pointer-events: none;
}

/*
 *-------------------------
 * Icons
 *-------------------------
 */

.icons {
  display: inline-block;
  color: var(--clr-neutral-900);
  height: 1em;
  aspect-ratio: 1 / 1;
  line-height: 1;
}

.icons-container {
  display: flex;
  align-items: center;

  .icon {
    color: inherit;
    margin-inline: 2px;
  }
}

button.no-decoration {
  border: 0;
  background: transparent;
}

.img-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  object-fit: cover;
}

.btn {
  padding: var(--sp-300);
  cursor: pointer;

  &--primary {
    @extend .btn;
    background: var(--clr-primary-300);
    color: var(--clr-neutral-100);
    border: 0;
    border-radius: 10px;

    &:hover {
      background: var(--clr-neutral-200);
      color: var(--clr-primary-400);
    }
  }
}
