.product {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 200px;
  margin-bottom: var(--sp-600);

  [title='name'] {
    font-size: var(--fs-300);
    font-weight: 300;
  }

  [title='price'] {
    font-weight: 700;
    font-size: var(--fs-300);
  }

  img {
    height: 50px;
    object-fit: cover;
    place-self: center;
  }

  &__btnContainer {
    margin-top: var(--sp-400);
    display: flex;
    gap: var(--sp-400);
  }

  &__toggleBtn {
    position: relative;
    color: var(--clr-semantic_invalid-400);
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    padding: var(--sp-200);

    .binOutline {
      color: var(--clr-semantic_invalid-500);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    .binSolid {
      opacity: 1;
    }

    svg {
      width: var(--icn-size-200);
    }

    &:hover {
      color: var(--clr-semantic_invalid-300);
      background: var(--clr-semantic_invalid-300);

      .binSolid {
        opacity: 0;
      }

      .binOutline {
        opacity: 1;
      }
    }
  }
}
