.container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  padding: calc(var(--sp-600) * 2) var(--sp-700);
  gap: var(--sp-700);
}

.image {
  object-fit: cover;
  background-color: var(--clr-neutral-100);
  max-height: 450px;
}

.cont_1 {
  display: flex;
  font-size: var(--fs-200);
  justify-content: space-between;

  &__category {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__rate {
    font-weight: 300;
  }
}

.title {
  font-weight: 700;
  margin-block: var(--sp-300) var(--sp-100);
}

.description {
  font-weight: 300;
}

.cont_2 {
  display: flex;
  margin-top: var(--sp-300);
}
